@if (Context.User.Identity.IsAuthenticated == true)
{
    <li class="nav-item">
        <a asp-action="LogOut" asp-controller="Usuario">Logout @Context.User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a asp-action="VistaArticulos" asp-controller="Articulo">Articulos</a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-action="Login" asp-controller="Usuario">Login</a>
    </li>
}
