<form method="post">
    <input type="text" name="nombre" class="form-control" />
    <input type="text" name="contrasenha" class="form-control" />
    <button type="submit">Enviar</button>
</form>

<p>@ViewData["MENSAJE"]</p>